#poster-img{
    background-image: url("../../svg/twostick.PNG");
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
    border-radius: 10px;
    opacity: 0.9;
}
#poster-img:hover{
    transform: scale(1.1);
}
.postercard:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }