#poster-img{
    background-image: url("../../svg/carousel.jpg");
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
    border-radius: 10px;
    opacity: 0.9;
}
#poster-img:hover{
    opacity: 0.6;
    transition: 0.5s all ease-in-out;
}