header{
    display: flex;
    min-height: 70px;
   
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    overflow: hidden;
}
header .logo{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    
}
header nav{
    display: flex;
    margin-top: 16px;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding:10px 15px 10px 15px ;
}
nav ul li a:hover{
    
    color: wheat;
  
    
    transition: 0.5s ease-in-out;
}
.plus{
    display: none;
}
/* dropdown style */

  
  .dropdown-content{
    display: none;
  position: absolute;
  /* top: 70px; */
  /* left: 0px; */
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
 
  }
  .dropdown-content .drop-link{
      display: flex;
      flex-direction: column;
     
  }
  .dropdown-content a{
    text-align: center;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

   
  }
  .dropdown:hover .dropdown-content {
    display: block;
    flex-direction: column;
  }
  
  /* cart styling */
nav .nav-cart{
    cursor: pointer;
    position: relative;
    display: flex;
   
    z-index: 1;
}
nav .nav-cart span{
    position:absolute;
    top: -15px;
    right: -3px;
    background-color: crimson;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}
.nav-cart a{
    margin-left: 10px;
    margin-right: 10px;
}
header .menu,
header .close{
    display: none;
    cursor: pointer;
}
@media (max-width:650px) {
    header ul{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height:100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background:red;
        color: white;
        
        z-index: 99;
        opacity: 1;
    }
    .icon-down{
        display: none;
    }
    header ul li a{
        color: white;
    }
    
    header .menu,
    header .close{
        display: block;
    }
    header .close{
        position: absolute;
        top: 5px;
        right: 20px;
        padding: 3px 5px;
        
        color: white;

    }
    header ul.toggle{
        top: 0;
        
    }
    .plus{
        display: inline-block;
        background-color: black;
        color: white;
        font-size: 14px;
        padding-left: 3px;
        padding-right: 3px;
    }
   
}


