@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* banner card  */
.one{
  background-image: url("https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(19).webp");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  object-fit: cover;
  height: 600px;
  opacity: 0.7;
  object-position: center;
}
.two{
  background-image: url("https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(35).webp");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  object-fit: cover;
  height: 600px;
  opacity: 0.7;
  object-position: center;
}
.three{
  background-image: url("../../svg/twostick.PNG");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  object-fit: cover;
  height: 600px;
  opacity: 0.7;
  object-position: center;
}
/* .banner{
  width: 100vw;
  height: 700px;
  position: relative;
  z-index: 10;
}
.banner input{
  display: none;
}
.controls{
  width: 100%;
  position: absolute;
  top: 300px;
}
.controls > label{
 
  height: 50px;
  width: 50px;
  background-color: purple;
  cursor: pointer;
  border-radius: 50%;
}
.fa-arrow-left, .fa-arrow-right{
  font-size: 20px;
  color: white;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  margin-left: -33px;
}
.fa-arrow-right{
float: right;
margin-right: -35px;
}
#r1:checked ~ .side > div:nth-child(1){
  margin-left: 0%;
}
#r2:checked ~ .side > div:nth-child(1){
  margin-left: -25%;
}
#r3:checked ~ .side > div:nth-child(1){
  margin-left: -100%;
}
#r4:checked ~ .side > div:nth-child(1){
  margin-left: -200%;
}
#r5:checked ~ .side > div:nth-child(1){
  margin-left: -400%;
}
#r1:checked ~ .controls > label:nth-child(2),
#r2:checked ~ .controls > label:nth-child(3),
#r3:checked ~ .controls > label:nth-child(4),
#r4:checked ~ .controls > label:nth-child(5),
#r5:checked ~ .controls > label:nth-child(1){
  display: block;
  float: right;
  margin: 0 30px 0 0;
}
#r1:checked ~ .controls > label:nth-child(5),
#r2:checked ~ .controls > label:nth-child(1),
#r3:checked ~ .controls > label:nth-child(2),
#r4:checked ~ .controls > label:nth-child(3),
#r5:checked ~ .controls > label:nth-child(4){
  display: block;
  float: left;
  margin: 0 0 0 15px;
}
.banner .side{
  height: 100%;
  width: 500%;
  display: flex;
}
.banner .side > div{
  height: 100%;
  width: 100%;
  transition: 1s ;

}
.banner .side > div:nth-child(1){
background-image: url('../../svg/stick.PNG');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
.banner .side > div:nth-child(2){
  background-image: url('../../svg/twostick.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }
  .banner .side > div:nth-child(3){
    background-image: url('../../svg/carousel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
    .banner .side > div:nth-child(4){
      background-image: url('../../svg/one-image.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      }
      .banner .side > div:nth-child(5){
        background-image: url('../../svg/blog2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        } */

/* owl carousel style */
.owl-dots .owl-dot {
  margin: 0px 5px;
}
.owl-dots .owl-dot button {
  background: none;
  border: 2px solid red;
  padding: 0;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.owl-dots .owl-dot button:focus {
  outline: none;
}
.owl-dots .owl-dot.active button {
  color: #000000;
}
/* testimonial design */
.test{
  border-right: 4px solid #2A3D7D;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 130px;
  margin: 0 15px 30px 15px; */
  overflow: hidden;
  position: relative;
 
}
.test:before{
  content: "";
  position: absolute;
  bottom: -4px;
  left: -17px;
  border-top: 25px solid #29D18B;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
}
.test:after{
  content: "";
  position: absolute;
  top: -4px;
  left: -17px;
  border-top: 25px solid #29D18B;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(135deg);
}

/* Customization of Slider Navigations*/


