header{
    display: flex;
    min-height: 70px;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    overflow: hidden;
}
header .logo{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}
header nav{
    display: flex;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding:0 15px;
}
nav ul li a:hover{
    color: lightblue;
}
nav .nav-cart{
    cursor: pointer;
    position: relative;
    display: flex;
    z-index: 1;
}
nav .nav-cart span{
    position:absolute;
    top: 12px;
    right: -7px;
    background-color: crimson;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}
header .menu,
header .close{
    display: none;
    cursor: pointer;
}
@media (max-width:650px) {
    header ul{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background: black;
        color: white;
        
        z-index: 99;
        opacity: 1;
    }
    header ul li a{
        color: white;
    }
    
    header .menu,
    header .close{
        display: block;
    }
    header .close{
        position: absolute;
        top: 5px;
        right: 20px;
        padding: 3px 5px;
        
        color: white;

    }
    header ul.toggle{
        top: 0;
        
    }
}